h1{
    font-family: Arial, Helvetica, sans-serif;
}

.content{
    background-color: white ;
    width: 1250px;
    margin: 100px auto;
    padding: 50px 50px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.content:hover{
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
}

.plus-container{
    background-color: whitesmoke;
    padding: 40px 15px;
    text-align: center;
}

.plus-container input[type="text"]{
    border: none solid #ddd;
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.preview{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 72px;
    text-align: center;
    margin-bottom: 25px;
}

.mybtn{
    border: none;
    border-radius: 10px;
    background-color: #4CAF50;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    padding: 15px 30px;
    font-weight: bold;
}

.mybtn:hover{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.mybtn:active{
    transform: translateY(2px);
}
